<h1 class="title-holder">Início > Estatísticas</h1>

<h2 class="region-title">Região Administrativa 1</h2>

<div class="score-holder">

    <h2>Pontuação</h2>

    <div class="info-boxes">
        <app-info-box2></app-info-box2>
        <app-info-box2></app-info-box2>
        <app-info-box2></app-info-box2>
        <app-info-box2></app-info-box2>
    </div>

    <div class="total">
        Total: 10/300
    </div>
    

</div>

<div class="statistics-holder">

    <h2>Estatísticas</h2>

    <div class="first-row">
        <app-progress-bar-chart></app-progress-bar-chart>
        <div>
            <h2>Óbitos</h2>
            <app-time-series-chart></app-time-series-chart>
        </div>
    </div>
    <div class="donut-and">
        <app-donut-charts></app-donut-charts>
        <div>
            <h2>Dose da vacina</h2>
            <app-time-series-bar-graph></app-time-series-bar-graph>
        </div>
    </div>
    
    <div class="graph">
        <h2>Taxa de transmissão</h2>
        <app-dummy-graph></app-dummy-graph>
    </div>

    <div class="contaminated-symptoms">
        <div>
            <h2>Contaminados</h2>
            <app-time-series-chart></app-time-series-chart>
        </div>
        <div>
            <h2>Tipos de sintomas</h2>
            <app-time-series-bar-graph></app-time-series-bar-graph>
        </div>
    </div>


    <div class="graph">
        <h2>Ocupação de leitos</h2>
        <app-dummy-graph></app-dummy-graph>
    </div>

    


</div>