.about-card{
    margin: 40px;
    padding: 25px;
    color: black;
    background-color: rgb(226, 226, 226);
    border-radius: 12px;
    box-shadow: inset;
}

.about-card h3{
    font-weight: 500;
    margin-top: 10px;
}

.about-card h4{
    font-weight: 300;
    margin-top: 10px;
}

.generate{
    color: white;
    background-color: rgb(22, 83, 157);
    width: fit-content;
    text-align: center;
    margin:  20px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    border-radius: 12px;
}

.historic-card{
    margin: 30px;
    padding: 25px;
    color: black;
    
}

.label-hist{
    display: flex;
    align-items: center;
}

.label-hist h3{
    margin-bottom: auto;
    margin-left: 8px;
}

.historical-unit{
    margin: 40px auto 10px auto;
    padding: 25px;
    color: black;
    background-color: rgb(226, 226, 226);
    border-radius: 12px;
    box-shadow: inset;
}

.hist-title{
    color: black;
    display: flex;
    justify-content: space-between;
}

.hist-title h6{
    font-weight: 300;
}

.summary-unit{
    display: flex;
}

.options{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.delete{
    background-color: rgb(194, 0, 0);
    width: 100px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete mat-icon{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download{
    margin-left: 15px;
    background-color: rgb(22, 83, 157);
    width: 150px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}