<div class="about-card">
    <h3>Como usar?</h3>
    <h4>A ferramenta de prescrição pode minimizar o orçamento total para superir a quantidade de leitos necessários para atender a demandas advinda de emergências em saúde pública. 
        São prescritos quanto será gasto e com que ações (ex.: compra, reparo e transferência de equipamentos, contratação e transferência de funcionários).</h4>
    <br>
        <h3>Clique em Gerar Solução</h3>
</div>

<div class="generate">
    Gerar solução +
</div>

<div class="historic-card">

    <div class="label-hist">
        <mat-icon>access_time</mat-icon>
        <h3>Histórico</h3>
    </div>

    <div class="hist-unit-wrapper">
        <div class="historical-unit">
            <div class="hist-title">
                <h3>
                    Relatório - Prescrição de ações
                </h3>
                <h6>29/02/2024</h6>
            </div>
            <div class="summary-unit">
                <app-unit-summary></app-unit-summary>
                <app-unit-summary></app-unit-summary>
                <app-unit-summary></app-unit-summary>
            </div>
        </div>
    
        <div class="options">
            <div class="delete">
                <mat-icon>delete</mat-icon>  
            </div>

            <div class="download">
                Download 
                <mat-icon>download</mat-icon>  
            </div>
                  
        </div>
    </div>
</div>