<div class="about-card">
    <h3>Como usar?</h3>
    <h4>A ferramenta de prescrição pode minimizar o orçamento total para superir a quantidade de leitos necessários para atender a demandas advinda de emergências em saúde pública. 
        São prescritos quanto será gasto e com que ações (ex.: compra, reparo e transferência de equipamentos, contratação e transferência de funcionários).</h4>
    <br>
        <h3>Clique em Gerar Solução</h3>
</div>

<div style="display:flex; justify-content: center;">

    <div class="generate">
        Gerar solução +
    </div>

    <div class="generate curs" (click)="openOptions()">
        Configurações avançadas  <mat-icon>settings</mat-icon>  
    </div>
</div>
<!-- 'my_class': step === 'step1'}" -->
<div class="more_options" [ngClass]="{'hide' : !showOptions,'more_options':showOptions}">
   <div class="all-options">
        <div class="button-op" [ngClass]="{'selected' : option === 1}" (click)="selectOption(1)">
            Geral
        </div>
        <div class="button-op" [ngClass]="{'selected' : option === 2}" (click)="selectOption(2)">
            Funcionários
        </div>
        <div class="button-op" [ngClass]="{'selected' : option === 3}" (click)="selectOption(3)">
            Equipamentos
        </div>
        <div class="button-op" [ngClass]="{'selected' : option === 4}" (click)="selectOption(4)">
            Insumos
        </div>
   </div>

   <div class="write-op" [ngClass]="{'hide' : option !== 1}">Demanda por leitos <input type="number"> </div>

    <div class="write-op" [ngClass]="{'hide' : option !== 2}">
        <div>Médicos por leito <input type="number"></div>
        <br>
        <div>Enfermeiros por leito <input type="number"></div>
        <br>
        <div>Técnicos de enfermagem por leito <input type="number"></div>

    </div>

    <div class="write-op" [ngClass]="{'hide' : option !== 3}">
        <div>Oxímetros por leito <input type="number"></div>
        <br>
        <div>Eletrocardiogramas por leito <input type="number"></div>
        <br>
        <div>Ventiladores por leito <input type="number"></div>

    </div>

    <div class="write-op" [ngClass]="{'hide' : option !== 4}">
        <div>Doses de Atracúrio por leito <input type="number"></div>
        <br>
        <div>Doses de Midazolam por leito <input type="number"></div>
        <br>
        <div>Doses de Rocurônio por leito <input type="number"></div>

    </div>

   

    <div class="restore-wrapper">
        <div class="restore-button" > Restaurar configuração padrão</div>
    </div>
</div>

<div class="historic-card">

    <div class="label-hist">
        <mat-icon>access_time</mat-icon>
        <h3>Histórico</h3>
    </div>

    <div class="hist-unit-wrapper">
        <div class="historical-unit">
            <div class="hist-title">
                <h3>
                    Relatório - Prescrição de ações
                </h3>
                <h6>29/02/2024</h6>
            </div>
            <div class="summary-unit">
                <app-unit-summary 
            info="Orçamento previsto" 
            imageSrc="https://smporte.it/wp-content/uploads/2019/10/Soldi-Icona.png"
            label="R$ 1.000.000"
        ></app-unit-summary>
        <app-unit-summary 
            info="Leitos adicionados" 
            imageSrc="https://cdn1.iconfinder.com/data/icons/covid19-line/253/ICU_Line-512.png"
            label="432"
        ></app-unit-summary>

        <app-unit-summary 
            info="Hospitais beneficiados" 
            imageSrc="https://cdn-icons-png.flaticon.com/512/448/448472.png"
            label="5"
        ></app-unit-summary>

            </div>
        </div>
    
        <div class="options">
            <div class="delete">
                <mat-icon>delete</mat-icon>  
            </div>

            <div class="download">
                Download 
                <mat-icon>download</mat-icon>  
            </div>
                  
        </div>
    </div>
</div>