<h1 class="title-holder">Início > Estatísticas</h1>

<div class="presentation-holder">
    <div class="info-holder">
        <h2 class="hosp-title">Hospital Regional de Brasília</h2>
        <h3>Informações gerais</h3>
        <h4>Endereço: Lorem Ipsum</h4>
        <h4>Região Administrativa: Planaltina</h4>
        <h4>Telefone: ()</h4>
    </div>
    <div class="image-hosp">
        <img class="hosp-src" src="https://th.bing.com/th/id/OIP.srOi0rWyzaTxy08bryY9qwHaFG?rs=1&pid=ImgDetMain" />
    </div>
</div>

<hr>

<div class="score-holder">

    <h3>Pontuação</h3>

    <div class="info-boxes">
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
    </div>

    <div class="total">
        Total: 10/300
    </div>
    

</div>

<div class="statistics-holder">

    <h3>Estatísticas</h3>

    <div class="graph">
        
    </div>



</div>
