<h1 class="title-holder">Início > Estatísticas</h1>

<div class="presentation-holder">
    <div class="info-holder">
        <h2 class="hosp-title">Hospital Regional de Brasília</h2>
        <h3>Informações gerais</h3>
        <h4>Endereço: Lorem Ipsum</h4>
        <h4>Região Administrativa: Planaltina</h4>
        <h4>Telefone: ()</h4>
    </div>
    <div class="image-hosp">
        <img class="hosp-src" src="https://th.bing.com/th/id/OIP.srOi0rWyzaTxy08bryY9qwHaFG?rs=1&pid=ImgDetMain" />
    </div>
</div>

<hr>

<div class="score-holder">

    <h1>Pontuação</h1>

    <div class="info-boxes">
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
        <app-info-box></app-info-box>
    </div>

    <div class="total">
        Total: 10/300
    </div>
    

</div>

<div class="statistics-holder">

    <h1>Estatísticas</h1>

    <div class="graph">
        <app-horizontal-bar-graph></app-horizontal-bar-graph>
    </div>

    <div>
        <h1>Ocupação de leitos</h1>
        <app-dummy-graph2></app-dummy-graph2>

    </div>

    <div class="two-row">
        <div>
            <h1>Óbitos</h1>
            <app-time-series-death-fr></app-time-series-death-fr>
        </div>
        <div>
            <h1>Tipos de sintomas</h1>
            <app-time-series-death></app-time-series-death>
        </div>
    </div>


</div>
