.main-card{
    background-color: rgb(22, 83, 157);
    width: 180px;
    border-radius: 14px;
    color: white;
    padding: 4px;
    text-align: center;
    justify-content: space-between;
    margin: 18px;
}

.main-card img{
    margin: 10px;
    color:white;
    width: 80px;
}

.desc{height: 30px;}

.score-res{
    
}