
<div style="display: flex; justify-content: space-around;margin-top: 20px;">
    <div style="width: 200px; text-align: center;">
      <h1>Vacinação</h1>
      <canvas #donut1>
      </canvas>
      <div style="text-align: center">
        <span style="display:flex;justify-content:center;align-items:center"><div class="circle blue"></div><div>{{ chartLabelsVaccine[0] }}</div></span>
        <span style="display:flex;justify-content:center;align-items:center"><div class="circle red"></div><div>{{ chartLabelsVaccine[1] }}</div></span>
      </div>
    </div>
    <!-- <div style="width: 200px;">
      <canvas #donut2>
      </canvas>
      <div style="text-align: center;">
        <span style="display:flex;justify-content:center;align-items:center"><div class="circle green"></div><div>{{ chartLabelsRecover[0] }}</div></span>
        <span style="display:flex;justify-content:center;align-items:center"><div class="circle blue"></div>{{ chartLabelsRecover[1] }}</span>
      </div>
    </div> -->
  </div>