<div class="main-notlogged" *ngIf="!hasLoggedIn">
  <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4" role="alert">
    <h5 class="m-1">
      <i class="fas fa-rocket" aria-hidden="true"></i> <strong>TAILOR</strong> Tecnologia de gestão para alocação inteligente de leitos
    </h5>
  </div>
  <h1>Seja bem-vindo(a)</h1>

  <p class="lead px-lg-5 mx-lg-5">Faça login</p>

  <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-primary ms-1" role="button"
  ><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'AbpAccount::Login' | abpLocalization }}</a
  >

</div>

<div class="container" *ngIf="hasLoggedIn">
  <div class="p-2 text-center">
    <h1 class="project-title">Tecnologia de gestão para alocação inteligente de leitos</h1>

    <div class="links-container">
      <div class="card-model blue-card" (click)="statisticsPage()">
        <div class="card-image" style="background-image: url('../../assets/images/statistics.jpg');"></div>
        <div class="card-content">
          <p class="card-text">Estatísticas</p>
          <div class="card-div">
            Acessar
          </div>
        </div>
      </div>
      <div class="card-model yellow-card" (click)="managementPage()">
        <div class="card-image" style="background-image: url('../../assets/images/hospital.jpg');"></div>
        <div class="card-content">
          <p class="card-text">Gestão de leitos</p>
          <div class="card-div">
            Acessar
          </div>
        </div>
      </div>
      <!-- <div class="card-model green-card">
        <div class="card-image" style="background-image: url('../../assets/images/leitos.jpg');"></div>
        <div class="card-content">
          <p class="card-text">Alocação de leitos</p>
          <div class="card-div">
            Acessar
          </div>
        </div>
      </div> -->
    </div>

    

    